@import "../../styles/config";

.headerContainer {
  max-width: 50em;
  margin: 2em auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 2em;

  svg {
    width: 8em;
    height: 8em;
    fill: $font-color;
  }

  h1 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    margin: 0;
  }
}
