@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:wght@700&family=Roboto:ital,wght@0,500;1,400&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
  background-color: #f9f7e8;
  color: #1b1d1c;
}

* {
  box-sizing: border-box;
}
